* {
  box-sizing: border-box;
}

body {
  font-family: $code;
}

a {
  text-decoration: none;
  color: #fff;
  transition: .3s;
  &:hover {
    color: $blue-glow;
  }
}

main {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 60px 0 0 0;
}

h1 {
  text-align: right;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
  text-align: right;
}

footer {
  width: 100%;
}
