* {
  box-sizing: border-box;
}

body {
  font-family: Courier New, Arial;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
a:hover {
  color: #2ecefa;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0 0 0;
}

h1 {
  text-align: right;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
  text-align: right;
}

footer {
  width: 100%;
}

.pageActive {
  text-decoration: underline;
  color: #2ecefa;
}

.App {
  background-color: #36393e;
  min-height: 100vh;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.App-header {
  background-color: #065100;
  height: 50px;
  font-size: 23px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.App-header-container {
  max-width: 1024px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-name {
  color: #fff;
  padding: 0 0 0 16px;
}

.Burger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border-radius: 0;
  border: none;
  cursor: pointer;
}
.Burger svg path {
  fill: #fff;
}

.Nav {
  overflow: hidden;
  transition: all 0.2s;
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visible {
  width: 100%;
  height: 100vh;
}

.navButton {
  background-color: #000;
  color: #fff;
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 8px;
  margin: 12px;
  border: 1px solid #000;
  transition: all 0.2s ease;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 600;
}
.navButton a {
  color: #000;
  text-decoration: none;
}
.navButton a:active, .navButton a:visited {
  color: #000;
  text-decoration: none;
}
.navButton:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
}

.pageWrapper {
  padding: 8px 16px;
  background-color: white;
  border-radius: 12px 0;
  margin: 0 16px;
  color: #000;
}
.pageWrapper a {
  color: #ec0e0e;
}
.pageWrapper a:active, .pageWrapper a:visited {
  color: #ec0e0e;
}

.gif-wrapper {
  width: 100%;
  height: auto;
  text-align: center;
}
.gif-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: #d1d1d5 0px 5px 15px;
}

.Pages {
  display: none;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.Social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Social img {
  height: 32px;
  width: auto;
  padding: 6px;
}

.Hide {
  display: none;
}

.EarthWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Earth {
  animation: earthTrace 10s;
}

@keyframes earthTrace {
  100% {
    transform: rotate3d(50, 70, 50, 360deg);
    display: none;
  }
}
@media screen and (min-width: 640px) {
  .Burger {
    display: none;
  }

  .Pages {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .Pages span {
    color: #fff;
    padding: 0 16px 0 0;
  }

  .gif-wrapper img {
    width: 80%;
  }
}

/*# sourceMappingURL=App.css.map */
