* {
  box-sizing: border-box;
}

.App {
  background-color: #000;
  min-height: 100vh;
  color: #fff;
  background-image: url('/img/lp.gif');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.App-header {
  background-color: #000;
  height: 50px;
  font-size: 23px;
}

.App-header-container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-name {
  padding: 14px;
}

.Burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 14px;
  background-color: #000;
  color: #fff;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.Burger svg path {
  fill: #fff;
}

.Drawer {
  height: 100%;
  width: 0;
  position: fixed;
  left: 0;
  overflow: hidden;
  transition: all 2s;
}

.visible {
  width: 300px;
  background-color: #fff;
}

main {
  padding: 12px;
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  font-size: 18px;
}

.Social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Social img {
  height: 32px;
  width: auto;
  padding: 6px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
