* {
  box-sizing: border-box;
}

.App {
  background-color: #000;
  min-height: 100vh;
  color: #fff;
  background-image: url('/img/lp.gif');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.App-header {
  background-color: #000;
  height: 50px;
  font-size: 23px;
}

.App-header-container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-name {
  padding: 14px;
}

.Burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 14px;
  background-color: #000;
  color: #fff;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.Burger svg path {
  fill: #fff;
}

.Nav {
  overflow: hidden;
  transition: all 0.5s;
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visible {
  width: 500px;
  height: 500px;
}

.Nav div {
  background-color: #000;
  color: #fff;
  width: 80px;
  text-align: center;
  padding: 8px;
  margin: 12px;
  border: 1px solid #fff;
  transition: all .4s ease-in-out;
}

.Nav div:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
}

a, a:active, a:visited {
  color: #000;
  text-decoration: none;
}

main {
  max-width: 960px;
  height: calc(100vh - 88px);
  margin: 0 auto;
}

h2 {
  font-size: 18px;
}

.Social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Social img {
  height: 32px;
  width: auto;
  padding: 6px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
